---
import "./Science.css"
---

<section id="science" class="science_background">
    <div class="container">
        <div class="science">

            <div class="science_container">
                <div class="science_card">
                <div class="science_card__logo">
                    <img src="/svgs/logo-black.svg" alt="healthline" />
                </div>
                <h1>
                    Science and integrity matter to us
                </h3>
                <div class="text_container">
        
                    <p>
                        At Healthline, we set high standards of quality, research, and transparency for what we share, ensuring you have access to nothing but the best. Here's how:
                    </p>
                    <ul class="science_card__list">
                        <li>To ensure accuracy, each of our 20,000+ articles is reviewed by a medical subject matter expert such as a doctor, nurse, or therapist.</li>
                        <li>Our recommendations are current and based on research thanks to our diligent health and medical monitoring standards.</li>
                        <li>Featured brands are reviewed for medical credibility, business practices, and social impact.</li>
                    </ul>
                </div>
                <a href="#" class="science_card__link">
                    Read about our process
                    <div class="science_card__icon">
                        <img src="/svgs/arrow.svg" alt="" />
                    </div>
                </a>
                </div>
            </div>
        </div>
    </div>
</section>
