---
import './MattrassesDetails.css'
import Title from '../../shared/title/Title.astro'
import Accordion from '../../shared/accordion/Accordion.astro';
---

<section>
    <Title title="The Best Mattresses for Back and Neck Pain in 2023" type="large" />
    <Accordion title="On this page" className="accordion">
        <ul class="accordion_list"><li><a href="#our-picks">Our picks</a></li><li><a href="#how-we-chose">How we chose</a></li><li><a href="#comparison">Comparison</a></li><li><a href="#what-to-look-for">What to look for</a></li><li><a href="#how-pain-affects-sleep">How pain affects sleep</a></li><li><a href="#other-tips">Other tips</a></li><li><a href="#talk-with-a-doctor">Talk with a doctor</a></li><li><a href="#faq">FAQ</a></li><li><a href="#takeaway">Takeaway</a></li></ul>
    </Accordion>
    <div class="mattrasses_card">
        <p class="mattrasses_card_text">We include products we think are useful for our readers. If you
            buy through links on this page, we may earn a small commission. <a href="/">Here’s our process</a>.
        </p>
        <div class="mattrasses_accordion">
            <div class="mattrasses_accordion_header">
                <div class="mattrasses_accordion_text">
                    <h2>
                        How we vet brands and products
                    </h2>
            </div>
            <div class="mattrasses_accordion_icon">
               <img src="/svgs/chevron.svg" alt="">
            </div>
        </div>
        <div class="mattrasses_accordion_body">
            <div class="mattrasses_accordion_text">
                <h2>
                    Healthline only shows you brands and products that we stand behind.
                </h2>
                <p>
                    Our team thoroughly researches and evaluates the recommendations we make on our site. To establish that the product manufacturers addressed safety and efficacy standards, we:
                </p>
        </div>
        <ul class="mattrasses_accordion_list"><li><span>Evaluate ingredients and composition:</span> Do they have the potential to cause harm?</li><li><span>Fact-check all health claims:</span> Do they align with the current body of scientific evidence?</li><li><span>Assess the brand:</span> Does it operate with integrity and adhere to industry best practices? </li></ul>
        <div class="mattrasses_accordion_text">
            <p>
                We do the research so you can find trusted products for your health and wellness.
            </p>
            <a href="/about/vet-brands-and-products" target="_blank" rel="noopener noreferrer">Read more about our vetting process.<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14"><path fill="currentColor" fill-rule="evenodd" d="M5.66 0a.7.7 0 0 1 .69.7.7.7 0 0 1-.7.68h-2.7c-.26 0-.52-.02-.77.01h.1-.06l-.15.04-.06.02-.05.03a1.8 1.8 0 0 0-.13.08l-.06.04-.04.04a1.8 1.8 0 0 0-.1.1l-.04.05-.04.04a1.8 1.8 0 0 0-.07.13l-.03.06-.02.05-.04.15v.05l-.02.13v8.93c0 .16 0 .33.02.49v-.1.06l.04.15.02.05-.03-.07.03.08.03.08-.03-.08.03.05.08.13.03.05.04.05.1.1.06.04.04.04.13.07.05.02.06.03.15.04h.04l.14.01h8.93c.16 0 .32.01.48-.01h-.1.07l.15-.04.05-.02.06-.03.13-.08.05-.04.05-.04.1-.1.04-.05.03-.04.08-.13.02-.05-.03.08.07-.16-.04.08.02-.06.04-.15.01-.05v.08-.09l.02-.09-.02.1.01-.2V8.3a.7.7 0 0 1 .7-.69.7.7 0 0 1 .68.7v3.38a2.38 2.38 0 0 1-.87 1.74c-.1.08-.22.17-.34.24a2.58 2.58 0 0 1-1.36.33H2.45c-.62 0-1.23-.23-1.69-.66A2.45 2.45 0 0 1 0 11.55V2.59A2.4 2.4 0 0 1 2 .04C2.33 0 2.64 0 2.95 0h2.72Zm3.4 0h4.27-.08.08a.67.67 0 0 1 .63.44v.03l.01.02c.02.06.03.12.03.2v4.34c-.01.37-.31.67-.69.67a.68.68 0 0 1-.67-.68v-2.7l-.4.4-.87.87-2.1 2.1L7.5 7.46l-.74.74a.68.68 0 0 1-.96 0 .69.69 0 0 1 0-.95l.69-.7 1.74-1.74 2.1-2.1 1.35-1.35H8.97A.68.68 0 0 1 8.3.67c0-.37.3-.67.68-.67h.08Z" clip-rule="evenodd"></path></svg></a>
    </div>
          </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="mattrasses_text">
            <h4>
                Avocado Green came out as our pick for best overall mattress for back and neck pain. Looking for specifics? Check out our picks in this roundup.
            </h4>
        </div>
        <figure class="mattrasses_image">
                    <picture class="css-16pk1is">
                        <source srcset="//i0.wp.com/post.healthline.com/wp-content/uploads/2020/10/732636-The-Best-Mattresses-for-Back-and-Neck-Pain-1296x728-Header-81b9bf.jpg?w=1575 750w" media="(min-width: 1190px)">
                        <source srcset="//i0.wp.com/post.healthline.com/wp-content/uploads/2020/10/732636-The-Best-Mattresses-for-Back-and-Neck-Pain-1296x728-Header-81b9bf.jpg?w=1575 750w" media="(min-width: 990px)">
                        <source srcset="//i0.wp.com/post.healthline.com/wp-content/uploads/2020/10/732636-The-Best-Mattresses-for-Back-and-Neck-Pain-1296x728-Header-81b9bf.jpg?w=1845 879w" media="(min-width: 768px)">
                        <img src="//i0.wp.com/post.healthline.com/wp-content/uploads/2020/10/732636-The-Best-Mattresses-for-Back-and-Neck-Pain-1296x728-Header-81b9bf.jpg?w=1155&amp;h=1528" alt="The Purple Mattress on a blue background" class="css-1jytyml">
                    </picture>
                <!-- <hl-share-overlay class="pinterest_container">
                    <a class="icon-hl-pinterest css-1w9qmip" target="_blank" rel="noopener noreferrer nofollow" data-event="Any Page|Image Pinterest Click|Icon Clicked" data-element-event="OPEN|CONTENTBLOCK|Any Page|Article Body|BUTTON|Image Widget Pinterest Click|" title="Share on Pinterest" data-pin-custom="true" data-share-url="https://post.healthline.com/wp-content/uploads/2020/10/732636-The-Best-Mattresses-for-Back-and-Neck-Pain-1296x728-Header-81b9bf.jpg" data-pin-log="button_pinit" data-pin-href="https://www.pinterest.com/pin/create/button?guid=X2ccD3Tz0xT6-1&amp;url=https%3A%2F%2Fwww.healthline.com%2Fhealth%2Fhealthy-sleep%2Fbest-mattress-for-back-and-neck-pain&amp;media=https%3A%2F%2Fpost.healthline.com%2Fwp-content%2Fuploads%2F2020%2F10%2F732636-The-Best-Mattresses-for-Back-and-Neck-Pain-1296x728-Header-81b9bf.jpg&amp;description=11%20Best%20Mattresses%20for%20Back%20and%20Neck%20Pain%20in%202023">
                        <span class="css-8yl26h">Share on Pinterest</span>
                    </a>
                </hl-share-overlay> -->
        </figure>
        <div class="mattrasses_text">
            <h3>
                A glance at the best mattresses for back and neck pain
            </h3>
        </div>
        <ul class="mattrasses_list">
            {
                [1,2,3,4,5,6,7,8,9,10,11].map(()=>(

                    <li>
                        <span>Best overall: </span> 
                        <a class="css-5r4717 content-link content-link css-30rb2" target="_blank" rel="noopener noreferrer nofollow sponsored nofollow" data-event="In-Content Affiliate Link|Impact_AvocadoGreenMattressUniversalHL_4396|clicked" href="https://activation.healthline.com/api/member-offers/4236/redirect?lp=328&amp;tc=120226&amp;subid2=%2Fhealth%2Fhealthy-sleep%2Fbest-mattress-for-back-and-neck-pain&amp;subid=Impact_AvocadoGreenMattressUniversalHL_4396&amp;correlationId=1102104a-b778-431c-9d0b-c5ce9afbb53b" data-sponsors="activation.healthline.com" data-sponsor-index="1">Avocado Green Mattress</a>
                        | 
                        <em>
                            <a href="#green" class="content-link content-link css-30rb2">Skip to review</a>
                        </em>
                    </li>
                ))
            }
        </ul>
        <div class="mattrasses_text">
            <p>If you live with <a href="https://www.healthline.com/health/types-of-pain">pain</a>, you probably know that spending a set amount of time in bed doesn’t automatically translate to good sleep. You likely don’t feel very rested if you spend most nights tossing and turning in hopes of easing discomfort.</p>
        </div>
        <div class="mattrasses_text">
            <p>If you live with <a href="https://www.healthline.com/health/types-of-pain">pain</a>, you probably know that spending a set amount of time in bed doesn’t automatically translate to good sleep. You likely don’t feel very rested if you spend most nights tossing and turning in hopes of easing discomfort.</p>
        </div>
        <div class="mattrasses_text">
            <p>If you live with <a href="https://www.healthline.com/health/types-of-pain">pain</a>, you probably know that spending a set amount of time in bed doesn’t automatically translate to good sleep. You likely don’t feel very rested if you spend most nights tossing and turning in hopes of easing discomfort.</p>
        </div>
    </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', function() {
   const accordionHeader = document.querySelector<HTMLElement>('.mattrasses_accordion_header');
   const accordionIcon = document.querySelector<HTMLElement>('.mattrasses_accordion_icon');
 
   accordionHeader?.addEventListener('click', function() {
     const accordionItem = this.parentElement as HTMLElement;
     accordionItem.classList.toggle('active');
     if(accordionItem.classList.contains('active')){
       accordionIcon!.style.rotate = '270deg'
     }else{
       accordionIcon!.style.rotate = '90deg'
     }
   });
 });


 </script>