---
import './MattrassesCardList.css'
import Accordion from '../../shared/accordion/Accordion.astro'
---

<div class="mattrass_card">
    <Accordion title='Pros and cons' className="mattrass_card_accordion" fontSize="1.7rem"></Accordion>
    <Accordion title='Product details' className="mattrass_card_accordion" fontSize="1.7rem"></Accordion>
</div>