---
import './Hero.css'
interface Data {
	title: string;
    description: string;
    img: string;
}
interface Props{
    data: Data[]
}

const { data } = Astro.props;
---

<section id="hero" class="container">
        <div class="hero">
            {
                data.map((card:any)=> <div class="hero_card">
                <div class="hero_card__image">
                    <img
                        src={card.img}
                        alt={card.title}
                    />
                </div>
                <div class="hero_card__details">
                    <div class="hero_card__text">
                        <h3>
                            {card.title}
                        </h3>
                    </div>
                    <div class="hero_card__text">
                        <p>{card.description}</p>
                    </div>
                </div>
            </div>)
            }
        </div>
</section>