---
import './MattrassTable.css'
---

<div class="table_container">
    <table>
        <tbody class="table_body">
            <tr>
                <th scope="col" class="table_head"></th>
                <th scope="col" class="table_head">
                    <strong>Price</strong>
                </th>
                <th scope="col" class="table_head">
                    <strong>Type</strong>
                </th>
                <th scope="col" class="table_head">Firmness</th>
                <th scope="col" class="table_head">Warranty</th>
                <th scope="col" class="table_head">Trial period</th>
                <th scope="col" class="table_head">Sizes</th>
            </tr>
            <tr>
                <th scope="row" class="table_head">
                    <span style="font-size: 0px; line-height: 0;"></span>
                    <a class="css-5r4717 content-link content-link css-30rb2" target="_blank" rel="noopener noreferrer nofollow sponsored nofollow" data-event="In-Content Affiliate Link|Impact_AvocadoGreenMattressUniversalHL_4396|clicked" href="https://activation.healthline.com/api/member-offers/4236/redirect?lp=328&amp;tc=120226&amp;subid2=%2Fhealth%2Fhealthy-sleep%2Fbest-mattress-for-back-and-neck-pain&amp;subid=Impact_AvocadoGreenMattressUniversalHL_4396&amp;correlationId=145b0ce1-f72c-42c9-8d18-8096e9c728b4" data-type="URL" data-sponsors="activation.healthline.com" data-sponsor-index="12">
                        <strong>Avocado Green Mattress</strong>
                    </a>
                </th>
                <td>$1,999</td>
                <td>hybrid</td>
                <td>medium firm or gentle firm</td>
                <td>25 years</td>
                <td>365 nights</td>
                <td>• regular sizes<br>• twin XL<br>• California king</td>
            </tr>
            <tr>
                <th scope="row" class="table_head">
                    <span style="font-size: 0px; line-height: 0;"></span>
                    <a class="css-5r4717 content-link content-link css-30rb2" target="_blank" rel="noopener noreferrer nofollow sponsored nofollow" data-event="In-Content Affiliate Link|Impact_AvocadoGreenMattressUniversalHL_4396|clicked" href="https://activation.healthline.com/api/member-offers/4236/redirect?lp=328&amp;tc=120226&amp;subid2=%2Fhealth%2Fhealthy-sleep%2Fbest-mattress-for-back-and-neck-pain&amp;subid=Impact_AvocadoGreenMattressUniversalHL_4396&amp;correlationId=145b0ce1-f72c-42c9-8d18-8096e9c728b4" data-type="URL" data-sponsors="activation.healthline.com" data-sponsor-index="12">
                        <strong>Avocado Green Mattress</strong>
                    </a>
                </th>
                <td>$1,999</td>
                <td>hybrid</td>
                <td>medium firm or gentle firm</td>
                <td>25 years</td>
                <td>365 nights</td>
                <td>• regular sizes<br>• twin XL<br>• California king</td>
            </tr>
            <tr>
                <th scope="row" class="table_head">
                    <span style="font-size: 0px; line-height: 0;"></span>
                    <a class="css-5r4717 content-link content-link css-30rb2" target="_blank" rel="noopener noreferrer nofollow sponsored nofollow" data-event="In-Content Affiliate Link|Impact_AvocadoGreenMattressUniversalHL_4396|clicked" href="https://activation.healthline.com/api/member-offers/4236/redirect?lp=328&amp;tc=120226&amp;subid2=%2Fhealth%2Fhealthy-sleep%2Fbest-mattress-for-back-and-neck-pain&amp;subid=Impact_AvocadoGreenMattressUniversalHL_4396&amp;correlationId=145b0ce1-f72c-42c9-8d18-8096e9c728b4" data-type="URL" data-sponsors="activation.healthline.com" data-sponsor-index="12">
                        <strong>Avocado Green Mattress</strong>
                    </a>
                </th>
                <td>$1,999</td>
                <td>hybrid</td>
                <td>medium firm or gentle firm</td>
                <td>25 years</td>
                <td>365 nights</td>
                <td>• regular sizes<br>• twin XL<br>• California king</td>
            </tr>
        </tbody>
    </table>
</div>