---
import Header from '../components/shared/header/Header.astro'
import Footer from '../components/shared/footer/Footer.astro'
import '../styles/reset.css'
import '../styles/fonts.css'
import '../styles/base.css'
import '../styles/general.css'
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="robots" content="noindex, nofollow">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header page={title} />
		<main id="main">
			<slot />
		</main>
		<Footer />
	</body>
</html>

<script>
	const screenWidth = window.screen.width;
	const currentURL = window.location.href;
	const urlArr = currentURL.split('/')
	const correctUrl = urlArr[urlArr.length - 1]
	const main:any = document.getElementById('main')
	const isActive:any = !correctUrl || correctUrl !=='index.html' 
	if(screenWidth > 990 && isActive){
		main.style.paddingTop = '18rem'
	}
	if(screenWidth < 990 && isActive){
		main.style.paddingTop = '10rem'
	}
	if(isActive){
		main.style.backgroundColor = 'white'
	}
</script>

<style>
	.main[data-active=true]{
		background-color: white;
		margin-top: 7rem;
	}
</style>
